In [123]:
import numpy as np 
import pandas as pd 

import warnings
warnings.filterwarnings('ignore')

In [84]:
internet_df= pd.read_excel("dataset_principal/Internet.xlsx",sheet_name=None)

----------------------------------------------SIN RANGOS---------------------------------------------------------

In [85]:
internet_df["Acc_vel_loc_sinrangos"].head()

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",1 Mbps,...,680 Mbps,700 Mbps,800 Mbps,850 Mbps,900 Mbps,999 Mbps,1000 Mbps,1024 Mbps,4000 Mbps,10000 Mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,2.0,NaN,19.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
internet_df["Acc_vel_loc_sinrangos"]["Provincia"].unique()

array(['BUENOS AIRES', 'CABA', 'CATAMARCA', 'CHACO', 'CHUBUT', 'CORDOBA',
       'CORRIENTES', 'ENTRE RIOS', 'FORMOSA', 'JUJUY', 'LA PAMPA',
       'LA RIOJA', 'MENDOZA', 'MISIONES', 'NEUQUEN', 'RIO NEGRO', 'SALTA',
       'SAN JUAN', 'SAN LUIS', 'SANTA CRUZ', 'SANTA FE',
       'SANTIAGO DEL ESTERO', 'TIERRA DEL FUEGO', 'TUCUMAN'], dtype=object)

In [148]:
internet_df["Acc_vel_loc_sinrangos"].describe()

,Otros,"0,256 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",1 Mbps,"1,5 Mbps",2 Mbps,"2,2 Mbps","2,5 Mbps",...,680 Mbps,700 Mbps,800 Mbps,850 Mbps,900 Mbps,999 Mbps,1000 Mbps,1024 Mbps,4000 Mbps,10000 Mbps
count,1030.000000,36.000000,642.000000,525.000000,284.000000,872.000000,15.000000,677.000000,1.0,4.000000,...,1.0,4.0,4.000000,1.0,1.0,17.000000,420.000000,2.0,1.0,2.000000
mean,318.643689,2.944444,42.978193,2.100952,39.588028,66.642202,132.533333,101.428360,18.0,156.500000,...,5.0,1.0,153.500000,1.0,110.0,3.352941,609.683333,1.0,1.0,5.000000
std,2964.936478,5.806127,985.466627,4.684645,118.563946,222.345674,291.222268,278.821468,NaN,212.528429,...,NaN,0.0,273.381906,NaN,NaN,5.700232,3431.387543,0.0,NaN,5.656854
min,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,7.000000,1.000000,18.0,21.000000,...,5.0,1.0,1.000000,1.0,110.0,1.000000,1.000000,1.0,1.0,1.000000
25%,1.000000,1.000000,1.000000,1.000000,3.000000,2.000000,31.000000,4.000000,18.0,35.250000,...,5.0,1.0,10.750000,1.0,110.0,1.000000,17.000000,1.0,1.0,3.000000
50%,6.000000,1.000000,1.000000,1.000000,9.500000,10.000000,47.000000,21.000000,18.0,66.500000,...,5.0,1.0,25.000000,1.0,110.0,2.000000,139.500000,1.0,1.0,5.000000
75%,48.000000,2.000000,2.000000,1.000000,28.000000,40.250000,75.000000,77.000000,18.0,187.750000,...,5.0,1.0,167.750000,1.0,110.0,3.000000,498.000000,1.0,1.0,7.000000
max,87722.000000,31.000000,24968.000000,61.000000,1307.000000,4111.000000,1170.000000,3530.000000,18.0,472.000000,...,5.0,1.0,563.000000,1.0,110.0,25.000000,68405.000000,1.0,1.0,9.000000

In [88]:
column = internet_df["Acc_vel_loc_sinrangos"].columns.values.tolist()

In [89]:
for n in range(4,column.__len__()):
    internet_df["Acc_vel_loc_sinrangos"][column[n]] = internet_df["Acc_vel_loc_sinrangos"][column[n]].abs()

In [90]:
internet_df["Acc_vel_loc_sinrangos"].to_csv("dataset_principal/Acc_vel_loc_sinrangos.csv")

--------------------------------------------------------------TOTAL VELOCIDAD--------------------------------------------------------------------------

In [186]:
internet_df["Totales Accesos por velocidad"].head(20)

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2024,1,28801,69355,866152,950930,672155,353896,8363694,328173,11633156
1,2023,4,29708,71742,900253,978108,697232,350290,8224736,295592,11547661
2,2023,3,30274,80609,945608,998725,720084,350918,8003269,277421,11406908
3,2023,2,30827,79405,963510,1028250,734125,364730,7775095,275955,11251897
4,2023,1,31437,82048,1001553,1060321,729194,357769,7564819,414754,11241895
5,2022,4,31981,85668,1075272,1109421,765015,335573,7410902,394282,11208114
6,2022,3,33013,96727,1161370,1151906,823505,479822,6995750,349035,11091128
7,2022,2,33667,99498,1193090,1197030,856562,485321,6741922,351594,10958684
8,2022,1,34890,104840,1263273,1209148,967508,509830,6336187,198333,10624009
9,2021,4,41262,28521,1413208,1245333,976539,558358,6032322,194251,10489794
10,2021,3,40174,41437,2550229,1095772,710122,536364,4948174,163269,10085541
11,2021,2,40172,42024,2531271,1080279,693277,647401,4661291,167369,9863084
12,2021,1,39487,41674,2593477,1072722,737930,595920,4379965,186797,9647972
13,2020,4,39510,42185,2622638,1073875,786595,582420,4239237,185102,9571562
14,2020,3,41038,44005,2637984,1040017,799350,538567,4053461,201777,9356199
15,2020,2,41038,48690,2651502,1053107,807775,523437,3711499,194008,9031056
16,2020,1,42550,56170,2649819,1022014,814470,532309,3500882,194212,8812426
17,2019,4,38272,28980,2792307,1046128,851619,1004083,2830746,201046,8793181
18,2019,3,241713,80599,3309137,1026859,806466,1141545,2314898,243467,9164684
19,2019,2,202790,95980,3444458,871142,1169632,1250366,1677830,247983,8960181

In [92]:
internet_df["Totales Accesos por velocidad"].describe()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
count,41.000000,41.000000,41.000000,41.000000,4.100000e+01,4.100000e+01,4.100000e+01,4.100000e+01,4.100000e+01,41.000000,4.100000e+01
mean,2018.634146,2.463415,47210.390244,219239.463415,3.233344e+06,9.155820e+05,8.898369e+05,4.815391e+05,2.776911e+06,149513.097561,8.713176e+06
std,2.997967,1.142313,49441.161964,193062.660919,1.526298e+06,2.322244e+05,4.558204e+05,4.383245e+05,3.055797e+06,130707.129029,1.738855e+06
min,2014.000000,1.000000,5675.000000,28521.000000,8.661520e+05,2.891820e+05,1.011270e+05,3.450000e+02,1.159500e+04,0.000000,6.272846e+06
25%,2016.000000,1.000000,29708.000000,71742.000000,2.531271e+06,8.594130e+05,6.932770e+05,1.245640e+05,3.102200e+04,0.000000,7.144696e+06
50%,2019.000000,2.000000,35030.000000,195706.000000,3.316868e+06,9.794160e+05,7.993500e+05,3.647300e+05,1.138728e+06,167369.000000,8.648135e+06
75%,2021.000000,3.000000,41064.000000,294413.000000,4.816081e+06,1.060321e+06,1.038029e+06,5.959200e+05,4.948174e+06,238455.000000,1.008554e+07
max,2024.000000,4.000000,241713.000000,687619.000000,5.153437e+06,1.245333e+06,2.068087e+06,1.688748e+06,8.363694e+06,414754.000000,1.163316e+07

In [93]:
internet_df["Totales Accesos por velocidad"][internet_df["Totales Accesos por velocidad"].Año == 2014]

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
37,2014,4,44075,554749,5084556,496251,276254,4371,15229,0,6475485
38,2014,3,37430,608018,5153437,373372,182483,507,12424,0,6367671
39,2014,2,41064,656408,5149574,341689,147273,478,12259,0,6348745
40,2014,1,52684,687619,5130294,289182,101127,345,11595,0,6272846

In [94]:
internet_df["Totales Accesos por velocidad"][internet_df["Totales Accesos por velocidad"].Año == 2023]

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
1,2023,4,29708,71742,900253,978108,697232,350290,8224736,295592,11547661
2,2023,3,30274,80609,945608,998725,720084,350918,8003269,277421,11406908
3,2023,2,30827,79405,963510,1028250,734125,364730,7775095,275955,11251897
4,2023,1,31437,82048,1001553,1060321,729194,357769,7564819,414754,11241895

In [95]:
internet_df["Totales Accesos por velocidad"].to_csv("dataset_principal/Totales Accesos por velocidad.csv")

------------------------------------ACCESO VELOCIDAD------------------------------------------------------------------

In [184]:
internet_df["Accesos por velocidad"].head(25)

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2024,1,Buenos Aires,26002.0,22510.0,221185.0,233225.0,241778.0,106418.0,4068292.0,125147.0,5044557.0
1,2024,1,Capital Federal,516.0,5418.0,29753.0,51415.0,37369.0,5957.0,1374283.0,0.0,1504711.0
2,2024,1,Catamarca,71.0,176.0,2872.0,3424.0,4204.0,1822.0,62294.0,70.0,74933.0
3,2024,1,Chaco,236.0,416.0,14156.0,9044.0,5533.0,5718.0,116624.0,3816.0,155543.0
4,2024,1,Chubut,111.0,1083.0,43828.0,31885.0,23024.0,20261.0,33844.0,16640.0,170676.0
...,...,...,...,...,...,...,...,...,...,...,...,...
979,2014,1,Santa Cruz,161.0,1625.0,24972.0,1.0,1.0,0.0,0.0,0.0,26760.0
980,2014,1,Santa Fe,8456.0,124468.0,345225.0,20328.0,6845.0,23.0,668.0,0.0,506013.0
981,2014,1,Santiago Del Estero,1234.0,10531.0,22817.0,2422.0,109.0,0.0,0.0,0.0,37113.0
982,2014,1,Tierra Del Fuego,12.0,607.0,30902.0,6.0,0.0,0.0,0.0,0.0,31527.0
983,2014,1,Tucumán,6.0,34672.0,83210.0,11779.0,362.0,3.0,0.0,0.0,130032.0

In [128]:
internet_df["Accesos por velocidad"][internet_df["Accesos por velocidad"].Año == 2023].head(25)

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
24,2023,4,Buenos Aires,26909.0,23962.0,228393.0,239339.0,246144.0,110876.0,4042646.0,93351.0,5011620.0
25,2023,4,Capital Federal,516.0,4544.0,26409.0,48083.0,33925.0,5829.0,1355061.0,0.0,1474367.0
26,2023,4,Catamarca,71.0,209.0,3065.0,3734.0,4423.0,1827.0,61181.0,77.0,74587.0
27,2023,4,Chaco,236.0,477.0,14811.0,10361.0,6247.0,5729.0,105485.0,4040.0,147386.0
28,2023,4,Chubut,111.0,1088.0,44276.0,31402.0,22843.0,20196.0,33665.0,16589.0,170170.0
29,2023,4,Córdoba,99.0,8404.0,117068.0,91169.0,51126.0,26948.0,767427.0,17061.0,1079302.0
30,2023,4,Corrientes,67.0,2889.0,19949.0,17984.0,8108.0,5087.0,98904.0,6484.0,159472.0
31,2023,4,Entre Ríos,107.0,4408.0,37150.0,54377.0,16673.0,7236.0,164304.0,14382.0,298637.0
32,2023,4,Formosa,85.0,179.0,21856.0,11563.0,4545.0,272.0,23152.0,350.0,62002.0
33,2023,4,Jujuy,58.0,1343.0,15359.0,11724.0,28741.0,272.0,58543.0,1980.0,118020.0
34,2023,4,La Pampa,71.0,1330.0,46716.0,17278.0,14556.0,5511.0,34254.0,1610.0,121326.0
35,2023,4,La Rioja,18.0,435.0,1483.0,1786.0,24838.0,4709.0,54452.0,0.0,87721.0
36,2023,4,Mendoza,104.0,2945.0,35976.0,20902.0,30051.0,7781.0,196093.0,5499.0,299351.0
37,2023,4,Misiones,51.0,3248.0,32287.0,21522.0,11338.0,3850.0,119112.0,8925.0,200333.0
38,2023,4,Neuquén,136.0,998.0,35431.0,13485.0,10435.0,2933.0,81033.0,20176.0,164627.0
39,2023,4,Río Negro,112.0,1039.0,27223.0,16608.0,18343.0,24693.0,64813.0,15586.0,168417.0
40,2023,4,Salta,114.0,1154.0,28069.0,65938.0,3735.0,66.0,98971.0,6685.0,204732.0
41,2023,4,San Juan,24.0,2021.0,21157.0,12882.0,12489.0,1343.0,30645.0,22649.0,103210.0
42,2023,4,San Luis,60.0,628.0,11317.0,23754.0,8952.0,75907.0,33150.0,917.0,154685.0
43,2023,4,Santa Cruz,50.0,500.0,7764.0,10783.0,11558.0,3628.0,19314.0,33434.0,87031.0
44,2023,4,Santa Fe,468.0,6845.0,82343.0,164019.0,59636.0,22135.0,557629.0,16426.0,909501.0
45,2023,4,Santiago Del Estero,180.0,1173.0,13018.0,53980.0,24514.0,5794.0,23641.0,930.0,123230.0
46,2023,4,Tierra Del Fuego,22.0,834.0,10283.0,12618.0,19536.0,6085.0,4342.0,7879.0,61599.0
47,2023,4,Tucumán,39.0,1089.0,18850.0,22817.0,24476.0,1583.0,196919.0,562.0,266335.0
48,2023,3,Buenos Aires,27440.0,24820.0,242010.0,241310.0,246076.0,112159.0,3951660.0,122762.0,4968237.0

In [125]:
internet_df["Accesos por velocidad"]["Año"][internet_df["Accesos por velocidad"].Trimestre == 4].unique()

array([2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014])

In [124]:
maskA = internet_df["Accesos por velocidad"].Trimestre == 4
maskB = internet_df["Accesos por velocidad"].Año == 2024
internet_df["Accesos por velocidad"]["Año"] = np.where(maskA & maskB, 2023, internet_df["Accesos por velocidad"]["Año"] )

In [135]:
internet_df["Accesos por velocidad"].describe()

,Año,Trimestre,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
count,984.000000,984.000000,984.000000,984.000000,9.840000e+02,984.000000,984.000000,984.000000,9.840000e+02,978.000000,9.840000e+02
mean,2018.634146,2.463415,1967.099593,9134.977642,1.347227e+05,38149.252033,37076.536585,20064.129065,1.157046e+05,6271.911043,3.630490e+05
std,2.962686,1.128870,12757.059460,20796.531611,3.245957e+05,64289.080670,88748.124134,69777.001896,4.502564e+05,14921.924176,7.810485e+05
min,2014.000000,1.000000,6.000000,0.000000,1.336000e+03,0.000000,0.000000,0.000000,0.000000e+00,0.000000,1.240600e+04
25%,2016.000000,1.000000,41.000000,384.750000,2.417200e+04,3662.500000,2336.250000,40.000000,1.175000e+01,0.000000,6.082625e+04
50%,2019.000000,2.000000,107.000000,2217.500000,4.285500e+04,13040.500000,10115.500000,1559.820000,3.272500e+03,203.500000,1.109070e+05
75%,2021.000000,3.000000,467.250000,6946.750000,8.389625e+04,41836.750000,26436.000000,9996.250000,3.894525e+04,6617.250000,1.921040e+05
max,2024.000000,4.000000,238920.000000,171244.480000,2.299705e+06,403575.000000,886678.000000,949093.000000,4.068292e+06,125147.000000,5.044557e+06

In [134]:
column = internet_df["Accesos por velocidad"].columns.values.tolist()
for n in range(3,column.__len__()):
    internet_df["Accesos por velocidad"][column[n]] = internet_df["Accesos por velocidad"][column[n]].abs()

-----------------------------------------------------VELOCIDAD %-----------------------------------------------------

In [183]:
internet_df["Velocidad % por prov"].head(25)

      Año  Trimestre            Provincia  Mbps (Media de bajada)
0    2024          1         Buenos Aires              159.130000
1    2024          1      Capital Federal              229.940000
2    2024          1            Catamarca               91.450000
3    2024          1                Chaco              107.510000
4    2024          1               Chubut               20.500000
..    ...        ...                  ...                     ...
979  2014          1           Santa Cruz                3.315991
980  2014          1             Santa Fe                3.147407
981  2014          1  Santiago Del Estero                2.949472
982  2014          1     Tierra Del Fuego                3.446888
983  2014          1              Tucumán                3.208342

[984 rows x 4 columns]

In [142]:
internet_df["Velocidad % por prov"].describe()

               Año   Trimestre  Mbps (Media de bajada)
count   984.000000  984.000000              984.000000
mean   2018.634146    2.463415               23.186898
std       2.962686    1.128870               31.623977
min    2014.000000    1.000000                2.573729
25%    2016.000000    1.000000                4.762379
50%    2019.000000    2.000000                9.307228
75%    2021.000000    3.000000               27.636730
max    2024.000000    4.000000              234.440000

------------------------------------------------------TOTALES TECNOLOGIA----------------------------------------------------------------------

In [181]:
internet_df["Totales Accesos Por Tecnología"].head(10)

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2024,1,774475,5986957,4015101,598682,257941,11633156,Ene-Mar 2024
1,2023,4,836390,6022532,3908183,585760,194796,11547661,Oct-Dic 2023
2,2023,3,897895,6018832,3708718,581436,200027,11406908,Jul-Sept 2023
3,2023,2,1006509,5997149,3463988,581823,202428,11251897,Abr-Jun 2023
4,2023,1,1204417,6002582,3243411,576647,214838,11241895,Ene-Mar 2023
5,2022,4,1315373,6037457,3060575,572969,221740,11208114,Oct-Dic 2022
6,2022,3,1395277,6031970,2871541,557110,235230,11091128,Jul-Sept 2022
7,2022,2,1468333,5979214,2723285,556243,231609,10958684,Abr-Jun 2022
8,2022,1,1533240,6073426,2219533,545814,251996,10624009,Ene-Mar 2022
9,2021,4,1657615,5984240,2072236,523107,252596,10489794,Oct-Dic 2021

In [146]:
internet_df["Totales Accesos Por Tecnología"].describe()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
count,41.000000,41.000000,4.100000e+01,4.100000e+01,4.100000e+01,41.000000,41.000000,4.100000e+01
mean,2018.634146,2.463415,2.742682e+06,4.398940e+06,1.152858e+06,297246.780488,157362.390244,8.749089e+06
std,2.997967,1.142313,1.062552e+06,1.316336e+06,1.251751e+06,200464.379073,83211.380279,1.699043e+06
min,2014.000000,1.000000,7.744750e+05,2.407330e+06,1.391870e+05,70749.000000,54300.000000,6.398398e+06
25%,2016.000000,1.000000,1.950631e+06,3.124855e+06,1.698980e+05,85370.000000,70049.000000,7.206950e+06
50%,2019.000000,2.000000,3.132789e+06,4.435439e+06,6.370990e+05,276419.000000,178485.000000,8.648135e+06
75%,2021.000000,3.000000,3.714764e+06,5.826257e+06,1.566048e+06,492415.000000,247016.000000,1.008554e+07
max,2024.000000,4.000000,3.803024e+06,6.073426e+06,4.015101e+06,598682.000000,265328.000000,1.163316e+07

---------------------------------------------------------ACCESO TECNOLOGIA---------------------------------------------------------------

In [164]:
internet_df["Accesos Por Tecnología"]

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,1,Buenos Aires,203297.0,2790663.0,1799013.0,150290.0,101294.0,5044557.0
1,2024,1,Capital Federal,70108.0,1177475.0,203756.0,4493.0,48879.0,1504711.0
2,2024,1,Catamarca,5901.0,11025.0,56542.0,1384.0,81.0,74933.0
3,2024,1,Chaco,11343.0,58929.0,64463.0,8404.0,12404.0,155543.0
4,2024,1,Chubut,26306.0,77217.0,26356.0,30867.0,9930.0,170676.0
...,...,...,...,...,...,...,...,...,...
981,2014,1,Santiago Del Estero,32567.0,3598.0,19.0,915.0,34.0,37133.0
982,2014,1,Tierra Del Fuego,21618.0,2837.0,648.0,1.0,2934.0,28038.0
983,2014,1,Tucumán,129717.0,83.0,121.0,13.0,98.0,130032.0
984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [152]:
internet_df["Accesos Por Tecnología"].describe(include="all")

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
count,985.0,985.0,984,9.840000e+02,9.840000e+02,9.840000e+02,984.000000,984.000000,9.840000e+02
unique,13.0,8.0,24,NaN,NaN,NaN,NaN,NaN,NaN
top,2023.0,1.0,Buenos Aires,NaN,NaN,NaN,NaN,NaN,NaN
freq,96.0,240.0,41,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,1.150317e+05,1.832892e+05,4.728246e+04,12385.282520,6556.766260,3.645454e+05
std,NaN,NaN,NaN,2.385989e+05,4.500403e+05,1.762796e+05,20996.226278,11567.922012,7.847271e+05
min,NaN,NaN,NaN,2.827000e+03,0.000000e+00,0.000000e+00,0.000000,2.000000,1.255700e+04
25%,NaN,NaN,NaN,2.076400e+04,1.085600e+04,3.540000e+02,734.000000,332.000000,6.177975e+04
50%,NaN,NaN,NaN,4.452300e+04,4.014950e+04,2.581000e+03,5105.500000,1901.000000,1.124190e+05
75%,NaN,NaN,NaN,9.148125e+04,7.582350e+04,2.554050e+04,14034.750000,7546.500000,1.927940e+05
max,NaN,NaN,NaN,1.586343e+06,2.797700e+06,1.799013e+06,150290.000000,101294.000000,5.044557e+06

In [153]:
internet_df["Accesos Por Tecnología"]["Año"] = pd.to_numeric(internet_df["Accesos Por Tecnología"]["Año"])
internet_df["Accesos Por Tecnología"]["Trimestre"] = pd.to_numeric(internet_df["Accesos Por Tecnología"]["Trimestre"])

ValueError: Unable to parse string "2019 *" at position 432

In [162]:
internet_df["Accesos Por Tecnología"][internet_df["Accesos Por Tecnología"].Año == "2019 *"]

Empty DataFrame
Columns: [Año, Trimestre, Provincia, ADSL, Cablemodem, Fibra óptica, Wireless, Otros, Total]
Index: []

In [177]:
internet_df["Accesos Por Tecnología"]["Año"].replace("2019 *", 2019, inplace=True)
internet_df["Accesos Por Tecnología"]["Trimestre"].replace("2 *", 2, inplace=True)
internet_df["Accesos Por Tecnología"]["Trimestre"].replace("1 *", 1, inplace=True)
internet_df["Accesos Por Tecnología"]["Trimestre"].replace("3 *", 3, inplace=True)
internet_df["Accesos Por Tecnología"]["Trimestre"].replace("4 *", 4, inplace=True)
internet_df["Accesos Por Tecnología"].drop(985,inplace=True)
internet_df["Accesos Por Tecnología"].drop(984,inplace=True)

------------------------------------------------------------PENETRACION HOGARES---------------------------------------------------------

In [179]:
internet_df["Penetracion-hogares"].head(25)

     Año  Trimestre            Provincia  Accesos por cada 100 hogares
0   2024          1         Buenos Aires                         81.10
1   2024          1      Capital Federal                        119.53
2   2024          1            Catamarca                         68.82
3   2024          1                Chaco                         46.70
4   2024          1               Chubut                         84.89
5   2024          1              Córdoba                         90.70
6   2024          1           Corrientes                         51.94
7   2024          1           Entre Ríos                         69.31
8   2024          1              Formosa                         39.61
9   2024          1                Jujuy                         57.65
10  2024          1             La Pampa                        100.49
11  2024          1             La Rioja                         80.03
12  2024          1              Mendoza                         52.59
13  2024          1             Misiones                         56.76
14  2024          1              Neuquén                         79.50
15  2024          1            Río Negro                         71.14
16  2024          1                Salta                         56.30
17  2024          1             San Juan                         51.62
18  2024          1             San Luis                        102.70
19  2024          1           Santa Cruz                         67.58
20  2024          1             Santa Fe                         80.40
21  2024          1  Santiago Del Estero                         49.41
22  2024          1     Tierra Del Fuego                        109.78
23  2024          1              Tucumán                         60.48
24  2023          4         Buenos Aires                         80.96

In [187]:
internet_df["Penetracion-hogares"].describe()

               Año   Trimestre  Accesos por cada 100 hogares
count   984.000000  984.000000                    984.000000
mean   2018.634146    2.463415                     52.159491
std       2.962686    1.128870                     24.036101
min    2014.000000    1.000000                      9.347208
25%    2016.000000    1.000000                     33.204632
50%    2019.000000    2.000000                     49.435000
75%    2021.000000    3.000000                     65.706626
max    2024.000000    4.000000                    124.061394

-----------------------------------------------------INGRESOS-------------------------------------------------------------

In [189]:
internet_df["Ingresos "]

     Año  Trimestre  Ingresos (miles de pesos)        Periodo
0   2024          1               2.804191e+08   Ene-Mar 2024
1   2023          4               1.673760e+08   Oct-Dic 2023
2   2023          3               1.331066e+08  Jul-Sept 2023
3   2023          2               1.180603e+08   Jun-Mar 2023
4   2033          1               1.041350e+08   Ene-Mar 2023
5   2022          4               7.244348e+07   Oct-Dic 2022
6   2022          3               6.408678e+07  Jul-Sept 2022
7   2022          2               6.041950e+07   Abr-Jun 2022
8   2022          1               5.521931e+07   Ene-Mar 2022
9   2021          4               4.546789e+07   Oct-Dic 2021
10  2021          3               4.299994e+07  Jul-Sept 2021
11  2021          2               3.823967e+07   Abr-Jun 2021
12  2021          1               3.667637e+07   Ene-Mar 2021
13  2020          4               3.353970e+07   Oct-Dic 2020
14  2020          3               3.199744e+07  Jul-Sept 2020
15  2020          2               3.210248e+07   Abr-Jun 2020
16  2020          1               2.994622e+07   Ene-Mar 2020
17  2019          4               2.416925e+07   Oct-Dic 2019
18  2019          3               2.165275e+07  Jul-Sept 2019
19  2019          2               2.074312e+07   Abr-Jun 2019
20  2019          1               2.020741e+07   Ene-Mar 2019
21  2018          4               1.663769e+07   Oct-Dic 2018
22  2018          3               1.541098e+07  Jul-Sept 2018
23  2018          2               1.431947e+07   Abr-Jun 2018
24  2018          1               1.317146e+07   Ene-Mar 2018
25  2017          4               1.122613e+07   Oct-Dic 2017
26  2017          3               1.006600e+07  Jul-Sept 2017
27  2017          2               9.678647e+06   Abr-Jun 2017
28  2017          1               8.701201e+06   Ene-Mar 2017
29  2016          4               7.483980e+06   Oct-Dic 2016
30  2016          3               6.912442e+06  Jul-Sept 2016
31  2016          2               6.534241e+06   Abr-Jun 2016
32  2016          1               5.936845e+06   Ene-Mar 2016
33  2015          4               5.376899e+06   Oct-Dic 2015
34  2015          3               5.153739e+06  Jul-Sept 2015
35  2015          2               4.701791e+06   Abr-Jun 2015
36  2015          1               4.876385e+06   Ene-Mar 2015
37  2014          4               3.950441e+06   Oct-Dic 2014
38  2014          3               3.478638e+06  Jul-Sept 2014
39  2014          2               3.270816e+06   Abr-Jun 2014
40  2014          1               2.984054e+06   Ene-Mar 2014

In [190]:
internet_df["Ingresos "].describe()

               Año  Trimestre  Ingresos (miles de pesos)
count    41.000000  41.000000               4.100000e+01
mean   2018.878049   2.463415               3.885074e+07
std       3.689140   1.142313               5.422892e+07
min    2014.000000   1.000000               2.984054e+06
25%    2016.000000   1.000000               6.912442e+06
50%    2019.000000   2.000000               2.020741e+07
75%    2021.000000   3.000000               4.299994e+07
max    2033.000000   4.000000               2.804191e+08

In [102]:
#HOJA INGRESOS(?) COLUMNA AÑO DATO 2033 DEBE SER 2023